
.card {
  width: 160px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.card img{
  width: 160px;
  height: 160px;
  box-shadow: 1px 6px 50px #c5c5c5;
  transition: all 250ms ease-in-out;

  object-fit: cover;
}

.card img:hover {
  box-shadow: 1px 1px 20px #c5c5c5;
}

.card h3{
  font-size: 11pt;
  font-weight: normal;
}

.card:hover {
  transform: scale(1.05);

}

body {
  background: #fdfdfd;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}

audio {
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}